<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666589655619-28or10q81iq88lhh6s97gj1944dig1r0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666589655619-28or10q81iq88lhh6s97gj1944dig1r0</string>
	<key>API_KEY</key>
	<string>AIzaSyBNDZ9-3noE_d2tGyiFo_v9QoF0VI_jtyg</string>
	<key>GCM_SENDER_ID</key>
	<string>666589655619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instaclone</string>
	<key>PROJECT_ID</key>
	<string>nohara-591ab</string>
	<key>STORAGE_BUCKET</key>
	<string>nohara-591ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666589655619:ios:689f38b5f9c384fbec9af6</string>
</dict>
</plist>